.boxInformacio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #255980;
    border-color: #255980;
    color: white;
    padding: 5px;
    font-size: large;
    margin-right: 15px;
}


.fas {
    font-size: xx-large;
    padding: 5px;
}

.agenda-cabecera {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.agenda-cabecera-fecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.agenda-cabecera-fecha-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.agenda-cabecera-fecha-texto {
    margin: 20px;
}

i {
    color: #255980;
    font-size: xx-large;
}

.agenda-cabecera-dateInput {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.dateInput {
    display: inline-block;
    position: absolute;
    opacity: 0;
    width: 8%;
    cursor: pointer;
    font-size: xx-large;
}

.dateIcon {
    position: relative;
    display: flex;
    cursor: pointer;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

.agenda-calendario {
    height: 100vh;
}

td.fc-timegrid-slot.fc-timegrid-slot-lane {
    padding: 20px;
}

a.fc-col-header-cell-cushion {
    font-size: x-large;
}

@media screen and (max-width: 768px) {
    .boxInformacio {
        grid-template-columns: 1fr;
    }
}