.divCitas {
    margin: 10px;
}

.divCitas-cita {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: aliceblue;
}

.divCitas-cita-paciente {
    width: 50%;
    margin-left: 5px;
}

.divCitas-cita-fecha {
    width: 40%;
}

.divCitas-cita-accion {
    width: 10%;
    justify-content: space-evenly;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.buscador {
    display: flex;
    max-width: 80%;
    margin: 20px auto;
    position: relative;
}

.buscador input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 2px solid #007bff;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.buscador input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* .buscador::after {
    content: "\f002";
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #007bff;
    pointer-events: none;
} */