.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment {
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 10px;
}

.appointment-Title {
    color: #255980;
    font-weight: bold;
}

.appointment-Form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    width: 95%;
    height: 95%;
    margin: auto;
}

.appointmentDetails {
    background-color: #255980;
    padding: 10px;
    color: white;
    font-size: larger;
}

.patientDetails {
    background-color:white;
    padding: 10px;
    color: #255980;
    font-size: larger;
}

@media screen and (min-width: 800px) {
    .appointment-Form {
        grid-template-columns: repeat(2, 1fr); 
    }
}
