:root {
    --alturaHeader: 80px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    position: absolute;
    width: 100%;
    min-height: var(--alturaHeader);
    background-color: #255980;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: white;
    font-size: 1.75em;
    font-weight: 600;
    text-decoration: none;
}

.header-nav-ul {
    position: relative;
}

.header-nav-ul li {
    position: relative;
    list-style: none;
    float: left;
}

.header-nav-ul li a {
    color: white;
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.header-nav-ul li a:hover {
    color: steelblue;
}

.header-nav-ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #255980;
    display: none;
    z-index: 3;
}

.header-nav-ul li:hover ul {
    display: block;
}

.header-nav-ul li ul li {
    position: relative;
    width: 100%;
}

@media (max-width: 900px) {
    .header {
        padding: 10px 20px;
    }

    .header-nav {
        position: absolute;
        width: 100%;
        top: var(--alturaHeader);
        left: 0;
        background-color: #255980;
        height: calc(var(--alturaHeader) + 100vh);
        z-index: 3;
        display: none;
    }

    .header.active nav {
        display: initial;
    }

    .header-nav-ul li {
        width: 100%;
    }

    .header-nav-ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header-menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-menuToggle::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }

    .header-menuToggle::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: white;
        transform: translateY(12px);
    }

    header.active .header-menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }

    header.active .header-menuToggle::after{
        transform: rotate(315deg);
    }
}